{{define "title"}}lxchecker :: {{.Subject.Id}} :: {{.Assignment.Id}}{{end}}

{{define "contents"}}
{{$rd := .RequestData}}
{{$s := .Subject}}
{{$a := .Assignment}}

<ol class="breadcrumb">
	<li><a href="/-/">lxchecker</a></li>
	<li><a href="/-/{{$s.Id}}/">{{$s.Name}}</a></li>
	<li><a href="/-/{{$s.Id}}/{{$a.Id}}/">{{$a.Name}}</a></li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading">assignment info</div>
	<table class="table">
		<tr>
			<td class="col-md-4">soft deadline</td>
			<td>{{$a.SoftDeadline.Format "Monday, 02.01.2006, 15:04"}}</td>
		</tr>
		<tr>
			<td class="col-md-4">hard deadline</td>
			<td>{{$a.HardDeadline.Format "Monday, 02.01.2006, 15:04"}}</td>
		</tr>
		<tr>
			<td class="col-md-4">daily penalty</td>
			<td>{{$a.DailyPenalty}}</td>
		</tr>
		<tr>
			<td class="col-md-4">timeout</td>
			<td>{{printf "%.0f" $a.Timeout.Seconds}} seconds</td>
		</tr>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading">my submissions</div>
	<table class="table">
		{{range $sbmi, $sbm := .Submissions}}
		{{$active := eq $sbmi 0}}
		<tr>
			<td class="col-md-4"><a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/">{{$sbm.Id}}</a></td>
			<td>
				{{if eq $sbm.Status "done"}}<span class="label label-success">done</span>{{end}}
				{{if eq $sbm.Status "pending"}}<span class="label label-warning">pending</span>{{end}}
				{{if eq $sbm.Status "failed"}}<span class="label label-danger">failed</span>{{end}}

				{{if $sbm.GradedByTeacher}}<span class="label label-default">graded</span>{{end}}
				{{if $active}}<span class="label label-primary">active</span>{{end}}

				<!--
				{{if and $active $sbm.GradedByTeacher}}<span class="label label-success">active | graded</span>{{end}}
				{{if and $active (not $sbm.GradedByTeacher)}}<span class="label label-warning">active | not graded</span>{{end}}
				{{if and (not $active) $sbm.GradedByTeacher}}<span class="label label-default">not active | graded</span>{{end}}
				-->
			</td>
		</tr>
		{{else}}
		<tr>
			<td>no submissions</td>
		</tr>
		{{end}}
	</table>
</div>

{{if (or $rd.UserIsTeacher $rd.UserIsAdmin)}}
<div class="panel panel-default">
	<div class="panel-heading">active submissions</div>
	<table class="table">
		{{range $sbm := .ActiveSubmissions}}
		<tr>
			<td class="col-md-4">
				<a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/">{{$sbm.Id}}</a>
				<span class="text-muted">by {{$sbm.OwnerUsername}}</span>
			</td>
			<td>
				{{if eq $sbm.Status "done"}}<span class="label label-success">done</span>{{end}}
				{{if eq $sbm.Status "pending"}}<span class="label label-warning">pending</span>{{end}}
				{{if eq $sbm.Status "failed"}}<span class="label label-danger">failed</span>{{end}}

				{{if $sbm.GradedByTeacher}}<span class="label label-default">graded</span>{{end}}
			</td>
		</tr>
		{{else}}
		<tr>
			<td>no submissions</td>
		</tr>
		{{end}}
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading">all submissions (TODO: make collapsable)</div>
	<table class="table">
		{{range $sbm := .AllSubmissions}}
		<tr>
			<td class="col-md-4">
				<a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/">{{$sbm.Id}}</a>
				<span class="text-muted">by {{$sbm.OwnerUsername}}</span>
			</td>
			<td>
				{{if eq $sbm.Status "done"}}<span class="label label-success">done</span>{{end}}
				{{if eq $sbm.Status "pending"}}<span class="label label-warning">pending</span>{{end}}
				{{if eq $sbm.Status "failed"}}<span class="label label-danger">failed</span>{{end}}

				{{if $sbm.GradedByTeacher}}<span class="label label-default">graded</span>{{end}}
			</td>
		</tr>
		{{else}}
		<tr>
			<td>no submissions</td>
		</tr>
		{{end}}
	</table>
</div>
{{end}}

<div class="panel panel-default">
	<div class="panel-heading">upload submission</div>
	<div class="panel-body">
		<form action="/-/{{$s.Id}}/{{$a.Id}}/create_submission" method="post" enctype="multipart/form-data">
			<input type="hidden" name="subject_id" value="{{$s.Id}}">
			<input type="hidden" name="assignment_id" value="{{$a.Id}}">

			<div class="form-group">
			<input type="file" class="form-control" name="submission">
			</div>

			<button type="submit" class="btn btn-danger">submit</button>
		</form>
	</div>
</div>

{{if (or $rd.UserIsTeacher $rd.UserIsAdmin)}}
<div class="panel panel-default">
	<div class="panel-heading">configure assignment</div>
	<div class="panel-body">
		TODO
	</div>
</div>
{{end}}

{{end}}
