{{define "title"}}lxchecker{{end}}

{{define "contents"}}
{{$rd := .RequestData}}
<ol class="breadcrumb">
	<li><a href="/-/">lxchecker</a></li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading">subjects</div>
	<table class="table">
		{{range $s := .Subjects}}
		<tr>
			<td><a href="/-/{{$s.Subject.Id}}/">{{$s.Subject.Name}}</a></td>
		</tr>
		{{else}}
		<tr>
			<td>no subjects</td>
		</tr>
		{{end}}
	</table>
</div>

{{if $rd.UserIsAdmin}}
<div class="panel panel-danger">
	<div class="panel-heading">create subject</div>
	<div class="panel-body">
		<form action="/-/create_subject" method="post">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-2">
						<label for="id">subject id:</label>
						<input type="text" id="id" class="form-control" placeholder="so" name="id">
					</div>

					<div class="col-xs-5">
						<label for="name">name:</label>
						<input type="text" id="name" class="form-control" placeholder="Sisteme de Operare" name="name">
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-danger">create subject</button>
		</form>
	</div>
</div>
<div class="panel panel-danger">
	<div class="panel-heading">add admin - current admins are:
		{{range $i, $a := .Admins}}
		{{if gt $i 0}}, {{end}}
		<strong>{{$a.Username}}</strong>
		{{end}}
	</div>
	<div class="panel-body">
		<form action="/add_admin" method="post">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-3">
						<label for="username">username:</label>
						<input type="text" id="username" class="form-control" placeholder="new_admin" name="username">
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-danger">add admin</button>
		</form>
	</div>
</div>
{{end}}
{{end}}
