{{define "title"}}lxchecker :: {{.Subject.Id}}{{end}}

{{define "contents"}}
{{$rd := .RequestData}}
{{$s := .Subject}}

<ol class="breadcrumb">
	<li><a href="/-/">lxchecker</a></li>
	<li><a href="/-/{{$s.Id}}/">{{$s.Name}}</a></li>
</ol>

<ul>
	{{range $a := .Assignments}}
	<li><a href="/-/{{$s.Id}}/{{$a.Id}}/">{{$a.Name}}</a></li>
	{{else}}
	no assignments
	{{end}}
</ul>

{{if (or $rd.UserIsTeacher $rd.UserIsAdmin)}}
<div class="panel panel-danger">
	<div class="panel-heading">create assignment</div>
	<div class="panel-body">
		<form action="/-/{{$s.Id}}/create_assignment" method="post">
			<input type="hidden" name="subject_id" value="{{$s.Id}}">

			<div class="form-group">
				<div class="row">
					<div class="col-xs-2">
						<label for="assignment_id">assignment id:</label>
						<input type="text" id="assignment_id" class="form-control" placeholder="tema3" name="assignment_id">
					</div>

					<div class="col-xs-5">
						<label for="name">name:</label>
						<input type="text" id="name" class="form-control" placeholder="Tema 3 (Conway's Game of Life)" name="name">
					</div>

					<div class="col-xs-4">
						<label for="image">docker image:</label>
						<input type="text" id="image" class="form-control" placeholder="lxchecker/pc_tema3" name="image">
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-xs-2">
						<label for="timeout">timeout:</label>
						<input type="text" id="timeout" class="form-control" placeholder="30" name="timeout">
					</div>

					<div class="col-xs-4">
						<label for="submission_path">submission_path:</label>
						<input type="text" id="submission_path" class="form-control" placeholder="/submission.zip" name="submission_path">
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-xs-2">
						<label for="soft_deadline">soft deadline:</label>
						<input type="text" id="soft_deadline" class="form-control" placeholder="14.02.2017" name="soft_deadline">
					</div>

					<div class="col-xs-2">
						<label for="hard_deadline">hard deadline:</label>
						<input type="text" id="hard_deadline" class="form-control" placeholder="24.02.2017" name="hard_deadline">
					</div>

					<div class="col-xs-2">
						<label for="daily_penalty">daily penalty:</label>
						<input type="text" id="daily_penalty" class="form-control" placeholder="5" name="daily_penalty">
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-danger">create assignment</button>
		</form>
	</div>
</div>

<div>
	<h5>add teacher</h5>

	<p>
	{{range .Teachers}}
	<span>{{.Username}}</span>
	{{end}}
	</p>

	<form action="/-/{{$s.Id}}/add_teacher" method="post">
		<label for="username">username:</label>
		<input type="text" id="username" name="username">

		<button>add teacher</button>
	</form>
</div>
<div>
	<h5>configure subject</h5>
	TODO
</div>
{{end}}
{{end}}
