<!DOCTYPE html>
<html>
	<head>
		<title>Lxchecker</title>
	</head>

	<body>
		<div style="border: 2px solid red">
			<!-- TODO: make this shared. -->
			{{$rd := .RequestData}}
			<h5>debug info</h5>
			<p>rd: <em>{{$rd}}</em></p>
			<p>user: {{$rd.User}}</p>
		</div>

		{{$s := .Subject}}
		{{$a := .Assignment}}
		{{$sbm := .Submission}}
		<div>
			<a href="/-/">lxchecker</a>
			/
			<a href="/-/{{$s.Id}}/">{{$s.Name}}</a>
			/
			<a href="/-/{{$s.Id}}/{{$a.Id}}/">{{$a.Name}}</a>
			/
			<a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}">{{$sbm.Id}}</a>
		</div>

		<div>
			<h5>info</h5>
			<div>status: {{$sbm.Status}}</div>
			<div>score by tests: {{$sbm.ScoreByTests}}</div>
			<div>download: <a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/upload">link</a></div>
			<div>overdue: {{$sbm.Overdue}}</div>
			<div>penalty: {{$sbm.Penalty}}</div>
			{{if $sbm.GradedByTeacher}}
			<div>score by teacher: {{$sbm.ScoreByTeacher}}</div>
			<div>feedback: {{$sbm.Feedback}}</div>
			<div>graded by: {{$sbm.GraderUsername}}</div>
			{{else}}
			<div>graded: no</div>
			{{end}}
			<div>metadata: {{$sbm.Metadata}}</div>
		</div>

		{{if (or $rd.UserIsTeacher $rd.UserIsAdmin)}}
		<div>
			<h5>grade submission</h5>
			<form action="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/grade_submission" method="post">
				<label for="score">score:</label>
				<input type="text" id="score" name="score" value="{{if $sbm.GradedByTeacher}}{{$sbm.ScoreByTeacher}}{{end}}">

				<label for="feedback">feedback:</label>
				<textarea id="feedback" name="feedback">{{if $sbm.GradedByTeacher}}{{$sbm.Feedback}}{{end}}</textarea>

				<button>grade submission</button>
			</form>
		</div>
		{{end}}

		<h5>logs</h5>
		<pre>{{printf "%s" $sbm.Logs}}</pre>

	</body>
</html>
