{{define "title"}}lxchecker :: {{.Subject.Id}} :: {{.Assignment.Id}} :: {{.Submission.Id}}{{end}}

{{define "contents"}}
{{$rd := .RequestData}}
{{$s := .Subject}}
{{$a := .Assignment}}
{{$sbm := .Submission}}

<ol class="breadcrumb">
	<li><a href="/-/">lxchecker</a></li>
	<li><a href="/-/{{$s.Id}}/">{{$s.Name}}</a></li>
	<li><a href="/-/{{$s.Id}}/{{$a.Id}}/">{{$a.Name}}</a></li>
	<li><a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}">{{$sbm.Id}}</a></li>
</ol>

<div class="panel panel-primary">
	<div class="panel-heading">submission info</div>

	<table class="table">
		<tr>
			<td class="col-md-4">status</td>
			<td>
				{{if eq $sbm.Status "done"}}<span class="label label-success">done</span>{{end}}
				{{if eq $sbm.Status "pending"}}<span class="label label-warning">pending</span>{{end}}
				{{if eq $sbm.Status "failed"}}<span class="label label-danger">failed</span>{{end}}

				{{if .SubmissionIsOverdue}}<span class="label label-danger">overdue</span>{{end}}
				{{if gt .SubmissionPenalty 0}}<span class="label label-danger">penalty: {{.SubmissionPenalty}}</span>{{end}}
				{{if and (not .SubmissionIsOverdue) (eq .SubmissionPenalty 0)}}<span class="label label-success">on time</span>{{end}}

				{{if eq $sbm.Status "done"}}<span class="label label-primary">score by tests: {{$sbm.ScoreByTests}}</span>{{end}}
			</td>
		</tr>
		<tr>
			<td class="col-md-4">execution metadata</td>
			<td>
				{{if or (eq $sbm.Status "done") (eq $sbm.Status "failed")}}
				{{range $key, $value := $sbm.Metadata}}
				<span class="label label-default">{{$key}}: {{$value}}</span>
				{{else}}
				<span class="text-muted">none</span>
				{{end}}
				{{else}}
				<span class="text-muted">not yet available</span>
				{{end}}
			</td>
		</tr>
		<tr>
			<td class="col-md-4">download submission</td>
			<td>
				<!--<a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/upload"><span class="label label-primary">link</span></a>-->
				<a href="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/upload">link</a>
			</td>
		</tr>
		<tr>
			<td class="col-md-4">grading status</td>
			<td>
				{{if $sbm.GradedByTeacher}}
				<span class="label label-primary">score by teacher: {{$sbm.ScoreByTeacher}}</span>
				<span class="label label-default">graded by: <em>{{$sbm.GraderUsername}}</em></span>
				{{else}}
				<span class="label label-warning">not graded</span>
				{{end}}
			</td>
		</tr>
		<tr>
			<td class="col-md-4">feedback</td>
			<td>
				{{if $sbm.GradedByTeacher}}
				<span class="pre">{{$sbm.Feedback}}</span>
				{{else}}
				<span class="text-muted">not yet available</span>
				{{end}}
			</td>
		</tr>
	</table>

	<div class="panel-body">
		<div>
			{{if $sbm.GradedByTeacher}}
			<span class="label label-primary">score by tests: {{$sbm.ScoreByTests}}</span>
			+ <span class="label label-primary">score by teacher: {{$sbm.ScoreByTeacher}}</span>
			{{if gt .SubmissionPenalty 0}}- <span class="label label-danger">penalty: {{.SubmissionPenalty}}</span>{{end}}
			= <span class="label label-default">overall grade: {{.SubmissionOverallGrade}}</span>
			{{else}}
			<span class="text-muted">overall grade not available</span>
			{{end}}
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">execution logs</div>
	<div class="panel-body">
		{{if or (eq $sbm.Status "done") (eq $sbm.Status "failed")}}
		<!--
		<pre>{{printf "%s" $sbm.Logs}}</pre>
		-->
		<div style="white-space: pre-wrap; font-family: monospace">{{printf "%s" $sbm.Logs}}</div>
		{{else}}
		<span class="text-muted">not yet available</span>
		{{end}}
	</div>
</div>

{{if (or $rd.UserIsTeacher $rd.UserIsAdmin)}}
<div class="panel panel-danger">
	<div class="panel-heading">grade submission</div>
	<div class="panel-body">
		<form action="/-/{{$s.Id}}/{{$a.Id}}/{{$sbm.Id}}/grade_submission" method="post">
			<div class="form-group">
				<label for="score">score:</label>
				<input type="text" id="score" class="form-control" name="score" value="{{if $sbm.GradedByTeacher}}{{$sbm.ScoreByTeacher}}{{end}}">
			</div>

			<div class="form-group">
				<label for="feedback">feedback:</label>
				<textarea id="feedback" class="form-control" name="feedback">{{if $sbm.GradedByTeacher}}{{$sbm.Feedback}}{{end}}</textarea>
			</div>

			<button type="submit" class="btn btn-danger">grade submission</button>
		</form>
	</div>
</div>
{{end}}

{{end}}
